html, body, { margin: 0; padding: 0; width: 100%; height: 100%; }
* { font-family: Helvetica,Arial,sans,sans-serif; }

#bar, #map { margin: 0; position: fixed; top: 0; bottom: 0; }
#bar { padding: 10px; left:0; width: 300px; }
#barinner { position: relative; width: 100%; height: 100%; }
#map { padding: 0; left: 320px; right: 0; }
#placeinfo { position: absolute; width: 100%; top: 200px; bottom: 150px; overflow-y: auto; }
#legend { position: absolute; width: 100%; bottom: 0; }

#bar { font-size: 85%; }

span.caption { font-weight: bold; }
#ballots,#levels,#years { padding-bottom: 2px; }
.hint { font-style: italic; font-size: 80%; }
#placename { font-size: 115%; font-weight: bold; text-transform: uppercase; }

#vvalid, #vspoilt, #vtotal { text-align: right; }

table.voteinfo, table.votesum { }
table.voteinfo th { text-align: left; font-weight: bold; }
table.voteinfo .vnum, table.voteinfo .vperc { text-align: right; }
table.voteinfo tbody tr:nth-child(odd) { background-color:#ddd; }
table.voteinfo tbody tr:nth-child(even) { background-color:#fff; }

table.voteinfo td { padding-left: 10px; }
table.voteinfo tr td:first-child { padding-left: 0; }
abbr { border-bottom: 1px dotted; }

#legend table { width: 100%; font-size: 85%; }
#legend table td.leghead { text-align: center; }
#legend table td.legcel { padding-left: 5px; text-align: center; }
a#colblind { font-size: 85%; }

input#searchbox { width: 220px; }

.leaflet-control-permalink { display: none; }
